{% extends 'layouts/full-width.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ckeditor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}

{% block content %}
    {% do append_breadcrumb('Forums', path('forum.index')) %}
    {% for part in forum|breadcrumb %}
        {% do append_breadcrumb(part.title, part.url) %}
    {% endfor %}
    {% do append_breadcrumb('Nouveau sujet') %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <div class="mb-3">
        <h2 class="text-center">Nouveau sujet</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if is_granted('ROLE_MODERATOR') %}
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="lock" id="lock">
                <label class="form-check-label" for="lock">Verrouiller ce sujet</label>
            </div>
        {% endif %}
        {% if is_granted('ROLE_MODERATOR') %}
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="pin" id="pin">
                <label class="form-check-label" for="pin">Épingler ce sujet</label>
            </div>
        {% endif %}
        <button class="btn btn-primary js-submit-btn">Nouveau sujet</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
