{% extends 'layouts/full-width.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ckeditor') }}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('forums.index') }}">Forums</a></li>
            <li class="breadcrumb-item"><a href="{{ path('forum.show', {'slug': forum.slug}) }}">{{ forum.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Nouveau sujet</li>
        </ol>
    </nav>

    <div class="mb-3">
        <h2 class="text-center">Nouveau sujet</h2>
        {{ include ('partials/_simple_form.twig', {button_label: 'Nouveau sujet'}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}