{% extends 'layouts/full-width.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ckeditor') }}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('forums.index') }}">Forums</a></li>
            <li class="breadcrumb-item"><a href="{{ path('forum.show', {'slug': forum.slug}) }}">{{ forum.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Nouveau sujet</li>
        </ol>
    </nav>

    <div class="mb-3">
        <h2 class="text-center">Nouveau sujet</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if is_granted('ROLE_MODERATOR') %}
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="lock" id="lock">
                    <label class="custom-control-label" for="lock">Verrouiller ce sujet</label>
                </div>
            </div>
        {% endif %}
        <button class="btn btn-primary">Nouveau sujet</button>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}