{% extends 'layouts/modnav.html.twig' %}

{% block title %}{{ thread.title }} par {{ thread.author ?? 'Compte supprimé' }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.user and not thread.lock %}
        {{ encore_entry_link_tags('ckeditor') }}
    {% endif %}
{% endblock %}

{% block modnav_elements %}
    {{ include('thread/modnav.html.twig') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ include('thread/modals.html.twig') }}

    {% if app.user %}
        <div class="toast-notification">
            <div class="toast" id="toastHide-report" role="alert" aria-live="assertive" aria-atomic="true"
                 data-delay="3200">
                <div class="toast-header">
                    <strong class="mr-auto">
                        <i class="fas fa-check-circle"></i> Signalement
                    </strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body"></div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-12 col-md-12 col-sm-12">

                {% do append_breadcrumb(path('forum.index'), 'Forums') %}
                {% for part in thread.forum|breadcrumb %}
                    {% do append_breadcrumb(part.url, part.title) %}
                {% endfor %}
                {% do set_active_label(thread.title) %}

                {{ include('partials/_breadcrumb.html.twig') }}

                {{ knp_pagination_render(pagination) }}

                {% for message in pagination %}
                    {{ include('message/_message_card.html.twig', {displayActions: true}) }}
                {% endfor %}

                {{ knp_pagination_render(pagination) }}

                {% if not thread.lock %}
                    {% if app.user %}
                        <div class="mb-3">
                            <p class="text-center">
                                Connecté en tant que {{ app.user }}, vous pouvez répondre :
                            </p>
                            {{ include('partials/_simple_form.twig', {button_label: 'Envoyer'}) }}
                        </div>
                    {% else %}
                        <div class="alert alert-info text-center">
                            <a href="{{ login_target_path() }}">Connectez-vous pour répondre.</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if app.user %}
                        <div class="alert alert-warning text-center">Ce sujet est verrouillé, vous ne pouvez donc pas y
                            répondre.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_script_tags('report') }}
        {% if not thread.lock %}
            {{ encore_entry_script_tags('ckeditor') }}
        {% endif %}
    {% endif %}
{% endblock %}
