{% extends 'layouts/modnav.html.twig' %}

{% block title %}{{ thread.title }} par {{ thread.author is not null ? thread.author.pseudo : 'Compte supprimé' }}{% endblock %}

{% block modnav_elements %}
    {% if thread.locked %}
        <li>
            <a href="{{ path('thread.unlock', {'id': thread.id}) }}" data-tooltip="tooltip"
               title="Ouvrir le sujet">
                <i class="fas fa-lock-open rotate"></i>
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('thread.lock', {'id': thread.id}) }}" data-tooltip="tooltip"
               title="Fermer le sujet">
                <i class="fas fa-lock rotate"></i>
            </a>
        </li>
    {% endif %}
    {% if is_granted('DELETE', thread) %}
        <li>
            <a href="#" data-toggle="modal" data-target="#deleteModal" data-tooltip="tooltip"
               title="Supprimer le sujet">
                <i class="fas fa-trash-alt rotate"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if is_granted('DELETE', thread) %}
        <div class="modal fade" id="deleteModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation de suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous certain de vouloir supprimer ce sujet ?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="{{ path('thread.delete', {'id': thread.id}) }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-thread') }}"/>
                            <button type="submit" class="btn btn-primary">Confirmer</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-12 col-md-12 col-sm-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('forums.index') }}">Forums</a></li>
                        {% for part in thread.forum | breadcrumb %}
                            <li class="breadcrumb-item"><a href="{{ part.url }}">{{ part.title }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
                    </ol>
                </nav>

                {% for message in messages %}
                    <div class="card bg-secondary mb-4 d-flex" id="{{ message.id }}">
                        <div class="card-header">{{ thread.title }}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 text-center">
                                    {% set author = message.author %}
                                    {{ user_profile_link(author) }}

                                    {% if author is not null %}
                                        <br>
                                        {% set role = user_profile_role(author) %}
                                        {{ role ? role }}
                                    {% endif %}
                                </div>
                                <div class="col-lg-10">{{ message.content|purify }}</div>
                            </div>

                            <div class="row mt-3">
                                <div class="col text-right">
                                    Posté le {{ message.publishedAt|date('d/m/Y à H:i:s') }}
                                    {% if is_granted('EDIT', message) and (message.thread.locked == false) %}
                                        - <a href="{{ path('message.edit', {'id': message.id}) }}">Editer</a>
                                    {% endif %}
                                    {% if is_granted('DELETE', message) %}
                                        - <a href="{{ path('message.delete', {'id': message.id}) }}">Supprimer</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if not thread.locked %}
                    {% if app.user %}
                        <div class="mb-3">
                            <p class="text-center">
                                Connecté en tant que {{ app.user.pseudo }}, vous pouvez répondre :
                            </p>
                            {{ include('partials/_simple_form.twig', {button_label: 'Envoyer'}) }}
                        </div>
                    {% else %}
                        <div class="alert alert-info text-center">
                            <a href="{{ path('security.login') }}">Connectez-vous pour répondre.</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if app.user %}
                        <div class="alert alert-warning text-center">Ce sujet est verrouillé, vous ne pouvez donc pas y
                            répondre.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
