{% extends 'layouts/modnav.html.twig' %}

{% block title %}{{ thread.title }} par {{ thread.author.pseudo ?? 'Compte supprimé' }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.user and not thread.lock %}
        {{ encore_entry_link_tags('ckeditor') }}
    {% endif %}
{% endblock %}

{% block modnav_elements %}
    {% if is_granted('PIN', thread) %}
        {% if thread.pin %}
            <li>
                <a href="{{ path('thread.unpin', {'id': thread.id}) }}" data-tooltip="tooltip"
                   title="Détacher le sujet">
                    <i class="fas fa-thumbtack rotate"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('thread.pin', {'id': thread.id}) }}" data-tooltip="tooltip"
                   title="Épingler le sujet">
                    <i class="fas fa-thumbtack rotate"></i>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if is_granted('LOCK', thread) %}
        {% if thread.lock %}
            <li>
                <a href="{{ path('thread.unlock', {'id': thread.id}) }}" data-tooltip="tooltip"
                   title="Ouvrir le sujet">
                    <i class="fas fa-lock-open rotate"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('thread.lock', {'id': thread.id}) }}" data-tooltip="tooltip"
                   title="Fermer le sujet">
                    <i class="fas fa-lock rotate"></i>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if is_granted('DELETE', thread) %}
        <li>
            <a href="#" data-toggle="modal" data-target="#deleteModal" data-tooltip="tooltip"
               title="Supprimer le sujet">
                <i class="fas fa-trash-alt rotate"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ include ('thread/modals.html.twig') }}

    {% if app.user %}
        <div class="toast-notification">
            <div class="toast" id="toastHide-report" role="alert" aria-live="assertive" aria-atomic="true"
                 data-delay="3200">
                <div class="toast-header">
                    <strong class="mr-auto">
                        <i class="fas fa-check-circle"></i> Signalement
                    </strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body"></div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-12 col-md-12 col-sm-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('forums.index') }}">Forums</a></li>
                        {% for part in thread.forum | breadcrumb %}
                            <li class="breadcrumb-item"><a href="{{ part.url }}">{{ part.title }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
                    </ol>
                </nav>

                {% for message in messages %}
                    {{ include ('message/_message_card.html.twig', {displayActions: true}) }}
                {% endfor %}

                {% if not thread.lock %}
                    {% if app.user %}
                        <div class="mb-3">
                            <p class="text-center">
                                Connecté en tant que {{ app.user.pseudo }}, vous pouvez répondre :
                            </p>
                            {{ include('partials/_simple_form.twig', {button_label: 'Envoyer'}) }}
                        </div>
                    {% else %}
                        <div class="alert alert-info text-center">
                            <a href="{{ path('security.login') }}">Connectez-vous pour répondre.</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if app.user %}
                        <div class="alert alert-warning text-center">Ce sujet est verrouillé, vous ne pouvez donc pas y
                            répondre.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_script_tags('report') }}
        {% if not thread.lock %}
            {{ encore_entry_script_tags('ckeditor') }}
        {% endif %}
    {% endif %}
{% endblock %}