{% extends 'layouts/modnav.html.twig' %}

{% block title %}{{ thread.title }} par {{ thread.author.pseudo ?? 'Compte supprimé' }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_link_tags('ckeditor') }}
    {% endif %}
{% endblock %}

{% block modnav_elements %}
    {% if thread.locked %}
        <li>
            <a href="{{ path('thread.unlock', {'id': thread.id}) }}" data-tooltip="tooltip"
               title="Ouvrir le sujet">
                <i class="fas fa-lock-open rotate"></i>
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('thread.lock', {'id': thread.id}) }}" data-tooltip="tooltip"
               title="Fermer le sujet">
                <i class="fas fa-lock rotate"></i>
            </a>
        </li>
    {% endif %}
    {% if is_granted('DELETE', thread) %}
        <li>
            <a href="#" data-toggle="modal" data-target="#deleteModal" data-tooltip="tooltip"
               title="Supprimer le sujet">
                <i class="fas fa-trash-alt rotate"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if is_granted('DELETE', thread) %}
        <div class="modal fade" id="deleteModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation de suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous certain de vouloir supprimer ce sujet ?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="{{ path('thread.delete', {'id': thread.id}) }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-thread') }}"/>
                            <button type="submit" class="btn btn-primary">Confirmer</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if app.user %}
        <div class="modal fade" id="reportModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Signalement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('report.message', {'id': 1}) }}" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <p class="reportText"></p>
                                <label for="message-text" class="col-form-label">Motif :</label>
                                <textarea class="form-control" id="message-text" name="reason"
                                          placeholder="Décrivez ici les raisons qui vous amènent à signaler l'auteur de ce message..." required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="token-report" value="{{ csrf_token('report-message') }}"/>
                            <button type="submit" class="btn btn-primary">Signaler</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-12 col-md-12 col-sm-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('forums.index') }}">Forums</a></li>
                        {% for part in thread.forum | breadcrumb %}
                            <li class="breadcrumb-item"><a href="{{ part.url }}">{{ part.title }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
                    </ol>
                </nav>

                {% for message in messages %}
                    {{ include ('message/_message_card.html.twig', {displayActions: true}) }}
                {% endfor %}

                {% if not thread.locked %}
                    {% if app.user %}
                        <div class="mb-3">
                            <p class="text-center">
                                Connecté en tant que {{ app.user.pseudo }}, vous pouvez répondre :
                            </p>
                            {{ include('partials/_simple_form.twig', {button_label: 'Envoyer'}) }}
                        </div>
                    {% else %}
                        <div class="alert alert-info text-center">
                            <a href="{{ path('security.login') }}">Connectez-vous pour répondre.</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if app.user %}
                        <div class="alert alert-warning text-center">Ce sujet est verrouillé, vous ne pouvez donc pas y
                            répondre.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user %}
        {{ encore_entry_script_tags('ckeditor') }}
        {{ encore_entry_script_tags('report') }}
    {% endif %}
{% endblock %}