<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('forums.index') }}">SymForum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{{ app.request.get('_route') starts with 'forum' ? ' active' }}">
                <a class="nav-link" href="{{ path('forums.index') }}">Forums</a>
            </li>

            {{ include('partials/_nav_item.html.twig', {route: 'page.members', text: 'Liste des membres'}) }}

            {% if app.user %}
                <li class="nav-item{{ app.request.get('_route') == 'user.profile' and app.user.pseudo in app.request.get('_route_params') ? ' active' }}">
                    <a class="nav-link" href="{{ path('user.profile', {'slug': app.user.slug}) }}">Mon profil</a>
                </li>
                {% if is_granted('ROLE_MODERATOR') %}
                    {{ include('partials/_nav_item.html.twig', {route: 'page.panel', text: 'Panel'}) }}
                {% endif %}
                {{ include('partials/_nav_item.html.twig', {route: 'security.logout', text: 'Déconnexion'}) }}
            {% else %}
                {{ include('partials/_nav_item.html.twig', {route: 'security.login', text: 'Connexion'}) }}
            {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Recherche">
            <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</nav>