{% extends 'layouts/full-width.html.twig' %}

{% block title %}{% trans %}Members list{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Members list{% endtrans %}</h1>

    <div class="mt-3">
        <table class="table table-sm">
            <thead>
            <tr>
                <th>{% trans %}Pseudo{% endtrans %}</th>
                <th>{% trans %}Total messages{% endtrans %}</th>
                <th>{% trans %}Registration date{% endtrans %}</th>
                <th>{% trans %}Last activity{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for member in pagination %}
                <tr>
                    <td>{{ user_profile_link(member) }}</td>
                    <td>{{ member.messages|length }}</td>
                    <td>{{ member.createdAt|format_datetime('medium', 'none') }}</td>
                    <td>{{ member.lastActivityAt ? member.lastActivityAt|ago : 'Never'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
