{% extends 'layouts/full-width.html.twig' %}

{% block title %}{% trans %}Team members{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Team members{% endtrans %}</h1>

    <div class="mt-3">
        <h4>{% trans %}Administrators{% endtrans %}</h4>
        <table class="table table-sm">
            <thead>
            <tr>
                <th style="width: 45%">{% trans %}Pseudo{% endtrans %}</th>
                <th>{% trans %}Total messages{% endtrans %}</th>
                <th>{% trans %}Registration date{% endtrans %}</th>
                <th>{% trans %}Last activity{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for administrator in administrators %}
                <tr>
                    <td>{{ user_profile_link(administrator) }}</td>
                    <td>{{ administrator.messages|length }}</td>
                    <td>{{ administrator.createdAt|format_datetime('medium', 'none') }}</td>
                    <td>{{ administrator.lastActivityAt ? administrator.lastActivityAt|ago : 'Never'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h4>{% trans %}Moderators{% endtrans %}</h4>
        <table class="table table-sm">
            <thead>
            <tr>
                <th style="width: 45%">{% trans %}Pseudo{% endtrans %}</th>
                <th>{% trans %}Total messages{% endtrans %}</th>
                <th>{% trans %}Registration date{% endtrans %}</th>
                <th>{% trans %}Last activity{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for moderator in moderators %}
                <tr>
                    <th>{{ user_profile_link(moderator) }}</th>
                    <td>{{ moderator.messages|length }}</td>
                    <td>{{ moderator.createdAt|format_datetime('medium', 'none') }}</td>
                    <td>{{ moderator.lastActivityAt ? moderator.lastActivityAt|ago : 'Never'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
