{% extends 'layouts/full-width.html.twig' %}

{% block title %}Membres de l'équipe{% endblock %}

{% block content %}
    <h1>Membres de l'équipe</h1>

    <div class="mt-3">
        <h4>Administrateurs</h4>
        <table class="table table-sm">
            <thead>
            <tr>
                <th style="width: 45%">Pseudo</th>
                <th>Nombre de messages</th>
                <th>Inscription</th>
                <th>Dernière activité</th>
            </tr>
            </thead>
            <tbody>
            {% for administrator in administrators %}
                <tr>
                    <td>{{ user_profile_link(administrator) }}</td>
                    <td>{{ administrator.messages|length }}</td>
                    <td>{{ administrator.registrationDate|date('d/m/Y') }}</td>
                    <td>{{ administrator.lastActivityAt ? administrator.lastActivityAt|ago : 'Jamais' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h4>Modérateurs</h4>
        <table class="table table-sm">
            <thead>
            <tr>
                <th style="width: 45%">Pseudo</th>
                <th>Nombre de messages</th>
                <th>Inscription</th>
                <th>Dernière activité</th>
            </tr>
            </thead>
            <tbody>
            {% for moderator in moderators %}
                <tr>
                    <th>{{ user_profile_link(moderator) }}</th>
                    <td>{{ moderator.messages|length }}</td>
                    <td>{{ moderator.registrationDate|date('d/m/Y') }}</td>
                    <td>{{ moderator.lastActivityAt ? moderator.lastActivityAt|date('d/m/Y') : 'Jamais' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}