{% extends 'layouts/full-width.html.twig' %}

{% block title %}Détails sur {{ user }}{% endblock %}

{% block content %}
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="{{ path('panel.user.delete', {'slug': user.slug}) }}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation de suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous certain de vouloir supprimer {{ user }} ?</p>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="deleteData" name="deleteData"
                                   aria-describedby="deleteDataHelp" checked>
                            <label class="custom-control-label" for="deleteData">Supprimer les données de l'utilisateur
                                (messages, sujets...)</label>
                            <small id="deleteDataHelp" class="form-text text-muted">Si cette case est décochée, son
                                contenu sera remplacé par "supprimé".</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-user') }}"/>
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% do append_breadcrumb(path('panel.homepage'), 'Panel') %}
    {% do append_breadcrumb(path('panel.users'), 'Utilisateurs') %}
    {% do set_active_label(user.pseudo) %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <h1>
        <span>{{ user }}</span>
        <a class="btn btn-warning btn-sm" href="{{ path('panel.user.reset', {'slug': user.slug}) }}"><i
                    class="fas fa-undo"></i> Remettre à zéro</a>
        <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#deleteModal"><i
                    class="fas fa-trash"></i> Supprimer</a>
    </h1>

    <div class="row mt-3">
        <div class="col col-lg-6 col-md-6 col-sm-6">
            <h4>Général</h4>
            <p>
                {{ user.isActiveNow ? 'En ligne' : 'Hors ligne' }} <br>
                Email : {{ user.email }}<br>
                Inscription : {{ user.registrationDate|date('d/m/Y à H:i:s') }}<br>
                Dernière activité : {{ user.lastActivityAt ? user.lastActivityAt|date('d/m/Y à H:i:s') : 'Jamais' }}
            </p>

        </div>

        <div class="col col-lg-6 col-md-6 col-sm-6">
            <h4>Statistiques</h4>
            <p>
                {{ user.messages|length }} message{{ user.messages|length > 1 ? 's' }}<br>
                {{ user.threads|length }} sujet{{ user.threads|length > 1 ? 's' }}<br>
                {{ user.reports|length }} signalement{{ user.reports|length > 1 ? 's' }}<br>
            </p>
        </div>
    </div>
{% endblock %}
