{% extends 'layouts/full-width.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}
    {% do append_breadcrumb(path('panel.homepage'), 'Panel') %}
    {% do set_active_label('Utilisateurs') %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <h1>Utilisateurs ({{ pagination.getTotalItemCount }})</h1>

    <div class="mt-3">
        <table class="table table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Incrit le</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Dernière activité</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.createdAt|format_datetime('short') }}</td>
                    <td>{{ user_profile_link(user) }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastActivityAt ? user.lastActivityAt|format_datetime('short') : 'Jamais' }}</td>
                    <td><a href="{{ path('panel.user.details', {'slug': user.slug}) }}">Détails</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
