{% extends 'layouts/full-width.html.twig' %}

{% block title %}Signalements{% endblock %}

{% block content %}
    <h1>Signalements ({{ nbUntreatedReports }} en attente)</h1>

    <div class="mt-3">
        <table class="table table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Message de</th>
                <th>Reporté le</th>
                <th>Par</th>
                <th>Motif</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for report in pagination %}
                <tr{{ not report.isTreated ? ' class="table-warning"' }}>
                    <td>{{ report.id }}</td>
                    <td>{{ user_profile_link(report.message.author) }}</td>
                    <td>{{ report.reportedAt|date('d/m/Y à H:i:s') }}</td>
                    <td>{{ user_profile_link(report.reportedBy) }}</td>
                    <td>{{ report.reason|slice(0, 50) }}{{ report.reason|length > 50 ? '...' }}</td>
                    <td><a href="#">Détails</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}