{% extends 'layouts/full-width.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('panel.homepage') }}">Panel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Catégories</li>
        </ol>
    </nav>

    <h1>
        <span>Catégories</span>
        <a class="btn btn-primary btn-sm" href="{{ path('panel.category.add') }}"><i class="fas fa-plus"></i></a>
    </h1>

    <div class="messages"></div>

    <div class="mt-3">
        <table class="table table-sm">
            <thead>
            <tr class="d-flex">
                <th class="col-2">Position</th>
                <th class="col-8">Titre</th>
                <th class="col-2">Actions</th>
            </tr>
            </thead>
            <tbody class="thead-light">
            {% for category in categories %}
                <tr class="d-flex">
                    <td class="col-2">{{ category.position }}</td>
                    <td class="col-8">{{ category.title }}</td>
                    <td class="col-2">
                        <a class="btn btn-primary btn-sm" href="{{ path('panel.category.edit', {'id': category.id}) }}"><i class="fas fa-edit"></i></a>
                        -
                        <button class="btn btn-danger btn-sm js-delete-button" data-delete-url="{{ path('panel.category.delete', {'id': category.id}) }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
