<div class="card bg-secondary mb-4 d-flex" id="{{ message.uuidBase32 }}">
    <div class="card-header">
        {{ thread.title }}
        <div class="float-end">
            <i class="far fa-clock"></i> {{ message.createdAt|format_datetime }}
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-2 text-center">
                {% set author = message.author %}
                {{ user_profile_link(author) }}

                {% if author is not null %}
                    <br>
                    {% set role = user_profile_role(author) %}
                    {{ role ? role }}
                {% endif %}
            </div>
            <div class="col-lg-10">{{ message.content }}</div>
        </div>

        {% if displayActions|default(false) == true %}
            <div class="row">
                <div class="col text-end">
                    {% if app.user %}
                        <a style="text-decoration: none;" href="{{ path('message.like', {'uuid': message.uuidBase32}) }}"
                           class="js-message-like" title="Liker">
                            {{ message.isLikeByUser(app.user) ? '<i class="fas fa-heart"></i>' : '<i class="far fa-heart"></i>' }}
                            <span class="js-message-count-likes">
                                {{ message.likes|length > 0 ? message.likes|length }}
                            </span>
                        </a>
                    {% else %}
                        {% if message.likes|length > 0 %}
                            <i class="fas fa-heart"></i>{{ message.likes|length }}
                        {% endif %}
                    {% endif %}

                    {% if is_granted('EDIT', message) %}
                        <a style="text-decoration: none;" href="{{ path('message.edit', {'uuid': message.uuidBase32}) }}"
                           title="{% trans %}Edit{% endtrans %}">
                            <i class="far fa-edit"></i>
                        </a>
                    {% endif %}

                    {% if is_granted('REPORT', message) %}
                        <a style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#reportModal"
                           data-author="{{ message.author ?? 'Deleted account'|trans }}"
                           data-message="{{ message.uuidBase32 }}" href="#" title="{% trans %}Report{% endtrans %}">
                            <i class="far fa-flag"></i>
                        </a>
                    {% endif %}

                    {% if is_granted('DELETE', message) %}
                        <a style="text-decoration: none;" href="{{ path('message.delete', {'uuid': message.uuidBase32}) }}"
                           title="{% trans %}Delete{% endtrans %}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
