{% extends 'layouts/full-width.html.twig' %}

{% block title %}Edition de votre message{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ckeditor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}

{% block content %}
    {% do append_breadcrumb('Forums', path('forum.index')) %}

    {% for part in message.thread.forum|breadcrumb %}
        {% do append_breadcrumb(part.title, part.url) %}
    {% endfor %}

    {% do append_breadcrumb(message.thread.title, path('thread.show', {'slug': message.thread.slug})) %}
    {% do append_breadcrumb('Edition de votre message') %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <div class="mb-3">
        <h2 class="text-center">Edition de votre message</h2>
        <p class="text-center">Sujet {{ message.thread.title }}</p>
        {{ include('partials/_simple_form.twig', {button_label: 'Modifier'}) }}
    </div>
{% endblock %}
