{% extends 'layouts/full-width.html.twig' %}

{% block title %}{% trans %}Edition of your message{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ckeditor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}

{% block content %}
    {% do append_breadcrumb('Forums'|trans, path('forum.index')) %}

    {% for part in message.thread.forum|breadcrumb %}
        {% do append_breadcrumb(part.title, part.url) %}
    {% endfor %}

    {% do append_breadcrumb(message.thread.title, path('thread.show', {'slug': message.thread.slug})) %}
    {% do append_breadcrumb('Edition of your message'|trans) %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <div class="mb-3">
        <h2 class="text-center">{% trans %}Edition of your message{% endtrans %}</h2>
        <p class="text-center">{% trans %}Thread{% endtrans %} {{ message.thread.title }}</p>
        {{ include('partials/_simple_form.twig', {button_label: 'Edit'|trans}) }}
    </div>
{% endblock %}
