{% extends 'layouts/full-width.html.twig' %}

{% block title %}
    {{ app.user == user ? 'Mes messages' : 'Profil de ' ~ user ~ ' : messages' }}
{% endblock %}

{% block content %}
    {% do append_breadcrumb(path('page.members'), 'Membres') %}
    {% do append_breadcrumb(path('user.profile', {'slug': user.slug}), user.pseudo) %}
    {% do set_active_label('Messages publiés') %}

    {{ include('partials/_breadcrumb.html.twig') }}

    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12">
            <h3>{{ user }}
                - {{ user.messages|length }} {{ user.messages|length <= 1 ? 'message publié' : 'messages publiés' }}</h3>

            {% if pagination.getTotalItemCount > 0 %}
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 20%">Publié</th>
                        <th scope="col" style="width: 35%">Contenu</th>
                        <th scope="col" style="width: 45%">Sujet</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in pagination %}
                        <tr>
                            <td>
                                <a href="{{ path('message.show', {'id': message.id}) }}">{{ message.publishedAt|ago }}</a>
                            </td>
                            <td>{{ message.content|striptags|u.truncate(45, '...') }}</td>
                            <td>
                                <a href="{{ path('thread.show', {'slug': message.thread.slug}) }}">{{ message.thread.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            {% else %}
                Cet utilisateur n'a pas encore créé de message
            {% endif %}
        </div>
    </div>
{% endblock %}
