{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center mt-5">
            {% for category in categories %}
                <div class="col col-lg-12 col-md-12 col-sm-12">
                    <div class="card bg-secondary mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <a href="{{ path('category.show', {'slug': category.slug}) }}">{{ category.title }}</a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 text-center">SUJETS</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 text-center">MESSAGES</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">DERNIER MESSAGE</div>
                            </div>
                        </div>

                        {% for forum in category.forums %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <h5 class="card-title">
                                            {{ forum.locked ? '<i class="fas fa-lock"></i>' }}
                                            <a href="{{ path('forum.show', {'slug': forum.slug}) }}">{{ forum.title }}</a>
                                        </h5>
                                        <p class="card-text">{{ forum.description }}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">{{ forum.totalThreads }}</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 text-center">{{ forum.totalMessages }}</div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        {% if forum.lastMessage %}
                                            {{ forum.lastMessage.publishedAt|ago }} par
                                            {% if forum.lastMessage.author is null %}
                                                Compte supprimé
                                            {% else %}
                                                {{ user_profile_link(forum.lastMessage.author) }}
                                            {% endif %}
                                        {% else %}
                                            Aucun message
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="col col-lg-12 col-md-12 col-sm-12">
                <div class="card bg-secondary mb-4">
                    <div class="card-header">Statistiques</div>
                    <div class="card-body">
                        {% if onlineUsers|length > 0 %}
                            Membres connectés :
                            {% for user in onlineUsers %}
                                {{ user_profile_link(user) }}{{ not loop.last ? ',' }}
                            {% endfor %}
                            <br>
                        {% endif %}

                        {% if maxOnlineUsersDate is not null %}
                            Le record du nombre d'utilisateurs en ligne est de {{ maxOnlineUsers }} le {{ maxOnlineUsersDate }}.
                            <br>
                        {% endif %}

                        {% if lastRegistered is null %}
                            {{ nbThreads }} sujets, {{ nbUsers }} membres.
                        {% else %}
                            {{ nbMessages }} messages, {{ nbThreads }} sujets, {{ nbUsers }} membres, le dernier membre inscrit est
                            {{ user_profile_link(lastRegistered) }}.
                        {% endif %}

                        <br><a class="float-right" href="{{ path('page.team') }}">Équipe du forum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}