<div class="card-body">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8">
            <h5 class="card-title">
                {{ forum.lock ? '<i class="fas fa-lock"></i>' }}
                <a href="{{ path('forum.show', {'slug': forum.slug}) }}">{{ forum.title }}</a>
            </h5>
            <p class="card-text">{{ forum.description }}</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block text-center">{{ forum.totalThreads }}</div>
        <div class="col-lg-2 col-md-3 d-none d-md-block text-center">{{ forum.totalMessages }}</div>
        <div class="col-lg-3 d-none d-lg-block">
            {% if forum.lastMessage %}
                {% set last_message = forum.lastMessage %}

                <a href="{{ path('message.show', {'uuid': last_message.uuidBase32}) }}">{{ last_message.createdAt|ago }}</a>
            {% trans %}by{% endtrans %} {{ user_profile_link(last_message.author) }}
            {% else %}
                {% trans %}No message{% endtrans %}
            {% endif %}
        </div>
    </div>
</div>
