{% extends 'layouts/modnav.html.twig' %}

{% block title %}{{ forum.title }}{% endblock %}

{% block modnav_elements %}
    {{ include('forum/_modnav.html.twig') }}
{% endblock %}

{% block body %}
    {% set page = app.request.query.get('page') %}
    {{ parent() }}
    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-12 col-md-12 col-sm-12">

                {% do append_breadcrumb('Forums', path('forum.index')) %}
                {% for part in forum|breadcrumb %}
                    {% if loop.last %}
                        {% do append_breadcrumb(part.title) %}
                    {% else %}
                        {% do append_breadcrumb(part.title, part.url) %}
                    {% endif %}
                {% endfor %}

                {{ include('partials/_breadcrumb.html.twig') }}

                <div class="card bg-secondary mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">{{ forum.title }}</div>
                            {% if forum.forums|length > 0 %}
                                <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block text-center">SUJETS</div>
                                <div class="col-lg-2 col-md-3 d-none d-md-block text-center">MESSAGES</div>
                                <div class="col-lg-3 d-none d-lg-block">DERNIER MESSAGE</div>
                            {% else %}
                                <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block text-center">PAR</div>
                                <div class="col-lg-2 col-md-3 d-none d-md-block text-center">REPONSES</div>
                                <div class="col-lg-4 d-none d-lg-block">DERNIER MESSAGE</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% if (page is null) or (page is defined and page == 1) %}
                        {% for subforum in forum.forums %}
                        {{ loop.first ? '<div class="row">' : '<div class="row mt-4">' }}
                        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                            <h5 class="card-title">
                                <a href="{{ path('forum.show', {'slug': subforum.slug}) }}">{{ subforum.title }}</a>
                            </h5>
                            <p class="card-text">{{ subforum.description }}</p>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block text-center">{{ subforum.totalThreads }}</div>
                        <div class="col-lg-2 col-md-3 d-none d-md-block text-center">{{ subforum.totalMessages }}</div>
                        <div class="col-lg-4 d-none d-lg-block">
                            {% if subforum.lastMessage %}
                                {% set last_message = subforum.lastMessage %}

                                <a href="{{ path('message.show', {'uuid': last_message.uuidBase32}) }}">{{ last_message.createdAt|ago }}</a>
                                par {{ user_profile_link(last_message.author) }}
                            {% else %}
                                Aucun message
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if forum.forums|length > 0 and ((page is null) or (page is defined and page == 1)) %}
                        <div class="row mt-3">
                            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12"></div>
                            <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block text-center">
                                <h5>PAR</h5>
                            </div>
                            <div class="col-lg-2 col-md-3 d-none d-md-block text-center">
                                <h5>REPONSES</h5>
                            </div>
                            <div class="col-lg-4 d-none d-lg-block">
                                <h5>DERNIER MESSAGE</h5>
                            </div>
                        </div>
                    {% endif %}

                    {% for thread in pagination %}
                        <div class="row mb-1">
                            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                                {{ thread.pin ? '<i class="fas fa-thumbtack"></i>' }}
                                {{ thread.lock ? '<i class="fas fa-lock"></i>' }}
                                <a href="{{ path('thread.show', {'slug': thread.slug}) }}">{{ thread.title }}</a>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block text-center">
                                {{ user_profile_link(thread.author) }}
                            </div>
                            <div class="col-lg-2 col-md-3 d-none d-md-block text-center">{{ thread.getTotalAnswers }}</div>
                            <div class="col-lg-4 d-none d-lg-block">
                                {% set last_message = thread.lastMessage %}

                                <a href="{{ path('message.show', {'uuid': last_message.uuidBase32}) }}">{{ last_message.createdAt|ago }}</a>
                                par {{ user_profile_link(last_message.author) }}
                            </div>
                        </div>
                    {% else %}
                        Ce forum ne dispose pas encore de sujets.
                    {% endfor %}
                </div>
            </div>
            <div class="float-right">
                {{ knp_pagination_render(pagination) }}
            </div>
            {% if forum.lock == false and is_granted('ROLE_USER') %}
                <a class="mb-3 btn btn-primary" href="{{ path('thread.new', {'slug': forum.slug}) }}">Nouveau sujet</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
